<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.10" package="com.JSmartSolution.robo_mobile" android:installLocation="preferExternal">
	<uses-sdk android:minSdkVersion="22" android:targetSdkVersion="30" />
	<application android:label="ROBOCON" android:theme="@style/MainTheme" android:usesCleartextTraffic="true" android:icon="@mipmap/launcher_foreground">
		<provider android:name="android.support.v4.content.FileProvider" android:authorities="com.JSmartSolution.robo_mobile.fileProvider" android:grantUriPermissions="true" android:exported="false">
			<meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/file_paths" />
		</provider>
	</application>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
	<uses-permission android:name="android.permission.ACCESS_CHECKIN_PROPERTIES" />
</manifest>